/* Sets background color, margin, text color, alignment, and font for the entire page. */
body {
  background: #212121;
  margin: 0;
  color: white;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Adds padding at the top and centers the text. */
header {
  padding-top: 10px;
  text-align: center;
  z-index: 2;
}

/* Styles for the footer element: adds padding for space within the footer. */
footer {
  padding: 30px;
}

/* Creates a decorative line with a fading effect */
.fade-line {
  transform: translateX(50%);
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, transparent, white, transparent);
}

/* Adjusts the logos dimensions. */
.logo {
  width: 100px;
  height: 30px;
}

/* Sets left padding for each item in the top navigation list */
.top_ul > * {
  padding-left: 20px;
}

/* Styles the top navigation bar, including display, alignment, and background color */
.top_ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #013362;
}

/* Sets the display type and position for list items in the top navigation */
.top_li {
  display: inline-block;
  float: left;
}

/* Styles for links in the top navigation, including position, color, and padding */
.top_li a {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Creates an animated underline effect for links on hover */
.top_li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.top_li a:hover:after {
  background-color: white;
}

/* Styles for the background image, including a fading effect at the bottom */
.background-img {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    position: absolute;
    object-fit: cover;
    height: 150px;
    width: 100%;
    z-index: -1;
}

/* Container style for inner content, aligning items and adjusting layout. */
.inner-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    align-items: center;
}

/* Adjusts the top margin for children of the 'inner-div' */
.inner-div > * {
  margin-top: 25px;
}

/* Styling for the navigation area within the nav element. */
nav {
    background-color: #333;
    padding: 4px;
    overflow: hidden;
}

/* Link styles within the nav element, including hover effects. */
nav a {
    float: left;
    display: block;
    color: white;
    align-items: center;
    text-align: center;
    width: 220px;
    padding: 14px 0;
    text-decoration: none;
}

/* Hover effect for links in the navigation area. */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Center-aligns text within paragraph elements. */
p {
  text-align: center;
}