<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Ensures the website is displayed correctly on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="../static/style.css">
    <title>GIC Progress Assessment</title>
</head>
<body>
    <div class="container">
        <!-- Navigation bar -->
        <ul class="top_ul">
		    <!-- Logo image -->
            <img class="logo" src="https://www.gla.ac.uk/3t4/img/ug-keyline-large.svg" alt="UofG Logo">
		    <!-- Navigation links -->
            <li class="top_li"><a href="index.html">Welcome</a></li>
            <li class="top_li"><a href="information.html">Learn More</a></li>
            <li class="top_li"><a href="contact.html">Submit Feedback</a></li>
        </ul>
        <!-- Background image for visual appeal -->
        <img class="background-img" src="https://pathways.kaplaninternational.com/pluginfile.php/2516068/block_cohortspecifichtml/content/Pathways%20Preview%20course%20banner%20%28600%20%C3%97%20200px%29.png">
        <header>
            <br>
            <!-- Page title -->
            <h1>Welcome to the GIC Feedback Portal</h1>
            <br><br>
            <!-- Decorative line -->
            <div class="fade-line"></div>
        </header>
        <!-- Main content section -->
        <div class="inner-div">
            <h2>Your gateway to actively support our academic community's improvement.<br></h2>
            <p>This platform is for you to share insightful opinions and feedback with your studies.<br>
            Learn more about how we use your feedback in our institution by selecting the 'Learn More' button.<br>
            Alternatively, if you're ready to provide direct feedback, choose the 'Submit Feedback' option.</p>
            <p>Thank you for being an essential part of the GIC community.</p>
            <!-- Navigation to Learn More and Submit Feedback sections -->
            <nav>
                   <a href="information.html">Learn More</a>
                   <a href="contact.html">Submit Feedback</a>
            </nav>
            <!-- Footer section -->
            <footer>
                <p><i>&copy; 2023 Saif Dehrab</i></p>
            </footer>
        </div>
    </div>
</body>
</html>