<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Ensures the website is displayed correctly on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="../static/style2.css">
    <title>GIC Progress Assessment</title>
</head>
<body>
    <div class="container">
		<!-- Navigation bar -->
        <ul class="top_ul">
		    <!-- Logo image -->
            <img class="logo" src="https://www.gla.ac.uk/3t4/img/ug-keyline-large.svg" alt="UofG Logo">
            <!-- Navigation items -->
            <li class="top_li"><a href="index.html">Welcome</a></li>
            <li class="top_li"><a href="information.html">Learn More</a></li>
            <li class="top_li"><a href="contact.html">Submit Feedback</a></li>
        </ul>
        <!-- Background image for visual appeal -->
        <img class="background-img" src="https://pathways.kaplaninternational.com/pluginfile.php/2516068/block_cohortspecifichtml/content/StudentSuccessAreaBanner01.png">
        <header>
            <br>
            <!-- Page title -->
            <h1>Learn More</h1>
            <br><br>
            <!-- Decorative line -->
            <div class="fade-line"></div>
        </header>
        <!-- Main content section -->
        <div class="inner-div">
            <!-- Introduction to the goals of data collection -->
            <h1>Understanding the Goals</h1>
            <h2>Welcome to GIC's Data Collection Initiative</h2>
            <p>We are committed to creating a learning atmosphere that enables students to reach their full potential both academically and personally. We have put in place a thorough data collection program with the aim of gaining insights into the academic progress of our students in order to accomplish this goal.</p>
            <!-- Explanation of why data on student progress is collected -->
            <h2>Why Do We Collect Data on Student Progress?</h2>
            <p>We are devoted to customizing academic help to each individual student in order to suit their specific needs. By using this data, we can improve our support initiatives and make sure that all students get the help they require to succeed academically. and assessing the efficiency of instructional strategies is made easier when we comprehend how students interact with their curriculum.</p>
            <!-- How student contributions make a difference -->
            <h2>How Does Your Contribution Make a Difference?</h2>
            <p><b>Your Voice Matters.</b><br>Your active involvement in the process of data acquisition is a fundamental component of our dedication to providing education that is centered around the needs and interests of students.</p>
            <!-- Information on privacy and security -->
            <h2>Your Privacy and Security</h2>
            <p>We know how important it is for your info to be safe and private. You can be sure that all the information we collect is kept secret and follows all the rules for data security. Your personal information is hidden, and only thoughts that have been collected are used for analysis.</p>
            <br>
            <!-- Decorative line -->
            <div class="line"></div>
            <br>
			<!-- Button to submit feedback -->
            <h1>Ready to submit?</h1>
            <p>Thank you for taking the time to reading this Information tab. We at GIC are committed to ensure a great student experience. To continue click on this button to start writing.</p>
            <a href="contact.html"><button type="submit">Submit Feedback</button></a>
            <!-- Footer with copyright notice -->
            <footer>
                <p><i>&copy; 2023 Saif Dehrab</i></p>
            </footer>
        </div>
    </div>
</body>
</html>